h2 {
  // display:inline-block;
  font-size: 4rem;
  // background: black;
  // color: white;
  line-height: 1;
  margin: 4rem 0 1rem;
}

.log {
  height: 200px;
  overflow: scroll;

  span {
    display: inline-block;
    padding: 0.4em;
    background-color:rgb(37, 37, 37);
    color: white;
    border-radius: 4px;
  }
}

dl {
  dt{
    font-size: 1em;
  }

  dd {
    font-size: 2em;
    margin: 0 0 1em;
  }
}
