.keyboard {
  font-size: 16px;
  overflow-x: scroll;
  height: 10em;

  ol {
    list-style: none;
    padding: 0;

    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    position: relative;

    li {
      background: rgb(250, 250, 250);
      display: block;

      height: 7em;
      position: absolute;
      z-index: 0;

      cursor: pointer;

      &.black {
        background: #7d7d7d;
        height: 4em;
        z-index: 1;
      }

      &.target {
        background: rgb(189, 221, 209);
      }

      &.pressed {
        background: rgb(88, 206, 151);
      }
    }
  }
}

.pitch-bend {
  height: 4rem;
  background-color: black;
  width: 50%;
  margin-left: 50%;
  transform-origin: left;
}
