.monitor {
  ul.note-status {
    list-style: none;
    padding: 0;

    display: flex;
    flex-direction: row;

    li {
      display: flex;
      flex-direction: column;
      width: 24%;
      padding: 2%;
      box-sizing: border-box;
      margin-right: 1%;
      line-height: 0.8;
      span {
        font-size: 1.6em;
      }

      &.active {
        background-color: rgb(109, 199, 169);
      }
    }
  }
  ul.key-status {
    list-style: none;
    padding: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li {
      width: 4rem;
      height: 4rem;
      padding: 0.8rem;
      box-sizing: border-box;
      margin: 1rem;
      border: 1px solid gray;

      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

      &.pressed {
        background-color: rgb(109, 199, 169);
      }
    }
  }
}
